<a href="https://colab.research.google.com/github/SSSpock/skillspire/blob/main/skillspire_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructor Only

In [ ]:
import pandas as pd
import numpy as np
import random
from datetime import date
from datetime import datetime
from dateutil.relativedelta import relativedelta

!pip install faker
import faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-17.6.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 19.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.9/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-17.6.0

In [ ]:
# Create Customer Data set

# Initialize Faker object
fake = faker.Faker()

# Set seed for reproducibility
random.seed(123)

# Set date range for customer creation dates
start_date = date.today() + relativedelta(months=-24)

# Fake Cities
cities = []
for _ in range(15):
  cities.append(fake.city())

# Generate customer information
customers = []
customer_ids = set()
while len(customers) < 500 * 24:
  # Generate random customer ID (unique)
  customer_id = random.randint(0, 19999)
  
  while customer_id in customer_ids:
    customer_id = random.randint(0, 19999)
  
  customer_ids.add(customer_id)
  
  # Generate random gender
  gender = random.choice(["Male", "Female"])

  # Generate random first and last name
  if gender == "Male":
      first_name = fake.first_name_male()
      last_name = fake.last_name_male()
  else:
      first_name = fake.first_name_female()
      last_name = fake.last_name_female()
  
  # Generate random email address
  email = f"{first_name}.{last_name}@{fake.domain_name()}"
  
  # Generate random birthdate
  birthdate = fake.date_of_birth(minimum_age=18, maximum_age=65)
  
  # Generate random customer creation date
  creation_date = fake.date_between(start_date=start_date, end_date="today")

  # Generate random last purchase date (Todo)
  last_purchase_date = fake.date_between(start_date=start_date, end_date="today")

  # Generate City
  customer_city = random.choice(cities)

  # Append customer information to list
  customer_info = {"customer_id": customer_id, "gender": gender, "first_name": first_name, "last_name": last_name,
                    "email": email, "birthdate": birthdate, "creation_date": creation_date, "last_purchase_date": None,
                   "city":customer_city}
  customers.append(customer_info)

customer_df = pd.DataFrame(customers)

customer_df.head()

,customer_id,gender,first_name,last_name,email,birthdate,creation_date,last_purchase_date,city
0,1715,Female,Karen,Morales,Karen.Morales@collins.biz,1985-04-25,2021-08-17,None,South Shannon
1,13344,Female,Katie,Wilson,Katie.Wilson@dawson-bradley.biz,1982-02-15,2021-09-30,None,South Shannon
2,1250,Female,Kara,Butler,Kara.Butler@frank.info,1958-02-18,2022-02-22,None,New Annton
3,18426,Female,Cassie,Marshall,Cassie.Marshall@evans-watkins.com,1968-07-18,2021-05-31,None,North Ericchester
4,1700,Male,John,Cline,John.Cline@rodriguez-bell.biz,1974-03-08,2022-10-15,None,Carriehaven

In [ ]:
# Set seed for reproducibility
random.seed(123)

# Define product categories and names as dictionary
categories = {
    "TVs": [
        "Samsung 55-Inch 4K UHD Smart TV",
        "Sony 65-Inch 4K UHD Smart TV",
        "LG 43-Inch Full HD Smart TV"
    ],
    "Computers": [
        "Apple MacBook Air 13-Inch Laptop",
        "Dell XPS 13 Laptop",
        "HP Pavilion 15-Inch Laptop"
    ],
    "Home Audio": [
        "Sonos Beam Soundbar",
        "Bose SoundTouch 300 Soundbar"
    ],
    "Smart Home Devices": [
        "Amazon Echo Dot (3rd Gen)",
        "Google Nest Mini",
        "Ring Video Doorbell",
        "Nest Hello Video Doorbell"
    ],
    "Phones & Tablets": [
        "Apple iPhone 12",
        "Samsung Galaxy S21",
        "Google Pixel 5",
        "Apple iPad (8th Gen)",
        "Samsung Galaxy Tab S7",
        "Amazon Fire HD 10 Tablet"
    ]
}

# Generate product information
products = []
for category, product_names in categories.items():
    for product_name in product_names:
        # Generate unique 4-digit product ID
        product_id = random.randint(1000, 9999)
        while product_id in [p["product_id"] for p in products]:
            product_id = random.randint(1000, 9999)
        
        # Generate random gross price and retail price
        gross_price = round(random.uniform(50, 1000), 2)
        retail_price = round(gross_price * random.uniform(1.1, 1.5), 2)
        
        # Append product information to list
        product_info = {"product_id": product_id, "product_name": product_name, "gross_price": gross_price,
                        "retail_price": retail_price, "category": category}
        products.append(product_info)

print(products)

product_df = pd.DataFrame(products)

[{'product_id': 1857, 'product_name': 'Samsung 55-Inch 4K UHD Smart TV', 'gross_price': 304.29, 'retail_price': 428.31, 'category': 'TVs'}, {'product_id': 5367, 'product_name': 'Sony 65-Inch 4K UHD Smart TV', 'gross_price': 152.32, 'retail_price': 222.46, 'category': 'TVs'}, {'product_id': 1625, 'product_name': 'LG 43-Inch Full HD Smart TV', 'gross_price': 410.17, 'retail_price': 543.45, 'category': 'TVs'}, {'product_id': 6583, 'product_name': 'Apple MacBook Air 13-Inch Laptop', 'gross_price': 859.48, 'retail_price': 1000.32, 'category': 'Computers'}, {'product_id': 6524, 'product_name': 'Dell XPS 13 Laptop', 'gross_price': 582.91, 'retail_price': 804.81, 'category': 'Computers'}, {'product_id': 3683, 'product_name': 'HP Pavilion 15-Inch Laptop', 'gross_price': 51.59, 'retail_price': 65.75, 'category': 'Computers'}, {'product_id': 2435, 'product_name': 'Sonos Beam Soundbar', 'gross_price': 884.7, 'retail_price': 1106.79, 'category': 'Home Audio'}, {'product_id': 1108, 'product_name': 'Bose SoundTouch 300 Soundbar', 'gross_price': 349.69, 'retail_price': 447.37, 'category': 'Home Audio'}, {'product_id': 1719, 'product_name': 'Amazon Echo Dot (3rd Gen)', 'gross_price': 138.13, 'retail_price': 159.8, 'category': 'Smart Home Devices'}, {'product_id': 1347, 'product_name': 'Google Nest Mini', 'gross_price': 327.21, 'retail_price': 416.29, 'category': 'Smart Home Devices'}, {'product_id': 8813, 'product_name': 'Ring Video Doorbell', 'gross_price': 302.06, 'retail_price': 433.5, 'category': 'Smart Home Devices'}, {'product_id': 5998, 'product_name': 'Nest Hello Video Doorbell', 'gross_price': 376.29, 'retail_price': 534.56, 'category': 'Smart Home Devices'}, {'product_id': 4389, 'product_name': 'Apple iPhone 12', 'gross_price': 830.21, 'retail_price': 1125.35, 'category': 'Phones & Tablets'}, {'product_id': 6165, 'product_name': 'Samsung Galaxy S21', 'gross_price': 61.92, 'retail_price': 90.23, 'category': 'Phones & Tablets'}, {'product_id': 9400, 'product_name': 'Google Pixel 5', 'gross_price': 462.67, 'retail_price': 608.6, 'category': 'Phones & Tablets'}, {'product_id': 8964, 'product_name': 'Apple iPad (8th Gen)', 'gross_price': 544.58, 'retail_price': 690.42, 'category': 'Phones & Tablets'}, {'product_id': 9356, 'product_name': 'Samsung Galaxy Tab S7', 'gross_price': 80.25, 'retail_price': 112.48, 'category': 'Phones & Tablets'}, {'product_id': 3973, 'product_name': 'Amazon Fire HD 10 Tablet', 'gross_price': 739.54, 'retail_price': 837.93, 'category': 'Phones & Tablets'}]

In [ ]:
# Set seed for reproducibility
random.seed(123)

# Set popularity probabilities for product categories
category_probs = {
    "TVs": 0.1,
    "Computers": 0.2,
    "Home Audio": 0.15,
    "Smart Home Devices": 0.3,
    "Phones & Tablets": 0.25
}

# Generate transaction information
transactions = []
transaction_id = 10000
start_date = date.today() - relativedelta(months=24)
end_date = date.today()
date_range = pd.date_range(start=start_date, end=end_date, freq="D")
for date in date_range:
    # Determine number of transactions on this day based on a probability distribution
    num_transactions = int(random.normalvariate(200, 50))
    if num_transactions < 1:
        num_transactions = 1
    
    # Create a list of customer IDs for this day's transactions (weighted by gender)
    customer_ids = []
    for customer in customers:
        if customer["gender"] == "Male":
            customer_ids.extend([customer["customer_id"]] * 5)
        else:
            customer_ids.extend([customer["customer_id"]] * 6)
    random.shuffle(customer_ids)
    
    # Generate transactions for this day
    for i in range(num_transactions):
        # Generate random transaction ID
        transaction_id += 1
        transaction_id_str = str(transaction_id).zfill(5)
        
        # Select a customer ID (with replacement)
        customer_id = random.choice(customer_ids)
        
      # Calculate popularity probabilities for each product
        product_probs = [0] * len(products)
        for i, product in enumerate(products):
            category = product["category"]
            num_products_in_category = sum([p["category"] == category for p in products])
            product_probs[i] = category_probs[category] / num_products_in_category

        # Select a product category (weighted by popularity probability)
        category_idx = np.random.choice(len(products), p=product_probs)
        category_products = [p for p in products if p["category"] == products[category_idx]["category"]]
            
        # Select number of products purchased in this transaction
        num_products = np.random.choice([1, 2, 3], p=[0.7, 0.2, 0.1])
          
        # Select products purchased (weighted by retail price)
        retail_prices = [p["retail_price"] for p in category_products]
        
        if num_products > len(category_products):
          num_products = len(category_products)
          product_indices = np.arange(num_products)
        else:
          product_indices = np.random.choice(len(category_products), size=num_products, replace=False, p=np.array(retail_prices) / sum(retail_prices))
        
        product_ids = [category_products[i]["product_id"] for i in product_indices]
        
        # Select transaction amount (equal to total retail price of products purchased)
        transaction_amount = sum([p["retail_price"] for p in category_products if p["product_id"] in product_ids])
        
  # Determine transaction seasonality and holidays
        month = transaction_date.month
        day = transaction_date.day
        if month == 12 and day == 25:  # Christmas
            transaction_date += pd.Timedelta(days=random.randint(1, 3))
        elif month == 11 and day == 26:  # Black Friday
            transaction_date += pd.Timedelta(days=random.randint(0, 2))
        elif month == 7 and day == 4:  # Fourth of July
            transaction_date += pd.Timedelta(days=random.randint(0, 1))
        elif month == 5 and day == 31:  # Memorial Day
            transaction_date += pd.Timedelta(days=random.randint(0, 1))
        else:
            pass
        
        # Check that transaction date is not earlier than customer creation date
        creation_date = [c["creation_date"] for c in customers if c["customer_id"] == customer_id][0]
        if transaction_date < creation_date:
            transaction_date = creation_date
        
        # Add transaction to list
        transaction_info = {
            "transaction_id": transaction_id_str,
            "transaction_date": transaction_date,
            "customer_id": customer_id,
            "product_ids": product_ids,
            "num_products": num_products,
            "transaction_amount": transaction_amount
        }
        transactions.append(transaction_info)

transaction_df = pd.DataFrame(transactions)

In [ ]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
# Export DataFrames
transaction_df.to_csv('transactions.csv')
product_df.to_csv('products.csv')
customer_df.to_csv('customers.csv')

# Copy to drive
!cp transactions.csv "drive/My Drive/"
!cp products.csv "drive/My Drive/"
!cp customers.csv "drive/My Drive/"

# Ecommerce Metric Project

In your first project you will act as early career data scientists at a hyper growth ecommerce startup.  The product team has asked you to create a set of metrics that they can use to understand their product funnel performance.  They would also like a high-level summary of which products are performing the best among various groups of customers.

In [1]:
# Imports
import pandas as pd
import io
import sqlite3
from ast import literal_eval

!pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.9/dist-packages (0.3.9)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (1.4.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 12.2 MB/s eta 0:00:00
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (63.4.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.18.2

In [3]:
# customer data
url = 'https://raw.githubusercontent.com/SSSpock/skillspire/main/customers.csv'
customer_df = pd.read_csv(url, index_col=0)

# transactiondata
url = 'https://raw.githubusercontent.com/SSSpock/skillspire/main/transactions.csv'
transaction_df = pd.read_csv(url, index_col=0)


# product data
url = 'https://raw.githubusercontent.com/SSSpock/skillspire/main/products.csv'
product_df = pd.read_csv(url, index_col=0)

In [6]:
## Getting the Data

#Load the sql module to Python
%load_ext sql
%sql sqlite:///Run_SQL_Jupyter.db

#Use the splite library and create a connection
conn = sqlite3.connect("Run_SQL_Jupyter.db")

#Add the dataframe df into the sql database
transaction_df.to_sql("transactions_sql", conn, if_exists='replace') #<- here people will be the name of the table and cnn is just the variable to hold the connection

# Add Customer df to sql
customer_df.to_sql("customer_sql", conn, if_exists='replace')

# Add product df to sql
product_df.to_sql("product_sql", conn, if_exists='replace')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

18

## Task One
Your first objective is the use sql to take the raw tables available to you and create two distinct metrics tables.  These tables should show the core business KPI's and outline the drivers that influence them.

The first table should be a "rolling table" that has each date as the row and the columns as each product.  In the rows should be a count of how many of that product was purchased on that day.  

The second table should show customer level engagement and activity.  Create a table at the Month level that shows whether or not a particular customer was active, transacted, or churned, or reactivated.

In [ ]:
#CELL Magic to run SQL Commands in Python
%%sql 

SELECT DISTINCT
  STRFTIME("%m-%Y", t.transaction_date) AS transaction_month
  , t.customer_id
  , CASE WHEN sq.transaction_count > 0 THEN 1 ELSE 0 END AS transacting

  , CASE 
    WHEN sq.transaction_amount BETWEEN 1000 AND 500 THEN '100-500'
    WHEN sq.transaction_amount BETWEEN 501 AND 1000 THEN '500-1000'
    WHEN sq.transaction_amount BETWEEN 1001 AND 2000 THEN '1K-2K'
    WHEN sq.transaction_amount > 200 THEN '>2K' 
    ELSE NULL END AS transacting_amount
FROM transactions_sql AS t

JOIN (
  SELECT
  STRFTIME("%m-%Y", transaction_date) AS transaction_month
    , customer_id
    , COUNT(DISTINCT transaction_id) AS transaction_count
    , SUM(DISTINCT transaction_amount) as transaction_amount
  FROM transactions_sql 
  GROUP BY 1, 2
) AS sq

ON sq.customer_id = t.customer_id AND sq.transaction_month = STRFTIME("%m-%Y", t.transaction_date)
ORDER BY t.customer_id, STRFTIME("%m-%Y", t.transaction_date)

In [ ]:
%%sql

SELECT DISTINCT
  t.transaction_id
  , t.transaction_date
  , md.creation_date
  , t.customer_id
  , t.transaction_amount
FROM transactions_sql AS t
JOIN 
(
  SELECT
    customer_id
    , MIN(transaction_date) as creation_date
   FROM transactions_sql
   GROUP BY 1
) md
ON t.customer_id = md.customer_id
ORDER BY t.customer_id

Metric table one
rows are the date and columns are product

## Task Two
Import the sql tables you created as dataframes.

Go to work generating summary statistics using the pivot table and group by methods that you learned.  Your goal is to roughly be able to describe customer behavior given a set of summary tables.  For example, what is the average number of products purchased at a given time? What is the lifetime value of a customer?  How long before the average customer churns?  
Get a general feel for how the business is doing.

In [28]:
%%sql

 * sqlite:///Run_SQL_Jupyter.db
(sqlite3.OperationalError) near "pd": syntax error
[SQL: pd.read_sql(customer_final)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [72]:
transaction_df.merge(product_df, left_on='product_id', right_on='product_id', validate=False)

KeyError: ignored

In [71]:
transaction_df.groupby(pd.Grouper(key='transaction_date', freq='M'))

TypeError: ignored

In [69]:
prod_cols = product_df[['product_id', 'product_name', 'retail_price']]

prod_trans = transaction_df.merge(prod_cols, how='inner', left_on='product_ids', right_on='product_id', validate='many_to_one')

In [78]:
prod_trans['transaction_date'] = pd.to_datetime(prod_trans['transaction_date'])

prod_trans.groupby(pd.Grouper(key='transaction_date', freq='M'))[['num_products', 'transaction_amount']].agg(['sum', 'mean'])

                  num_products  transaction_amount
transaction_date
2021-03-31                   1        8.379300e+02
2021-04-30                   0        0.000000e+00
2021-05-31                  20        1.207122e+04
2021-06-30                   8        6.163970e+03
2021-07-31                  55        3.633429e+04
2021-08-31                  57        3.926637e+04
2021-09-30                  27        1.874059e+04
2021-10-31                  58        3.554175e+04
2021-11-30                  76        4.574280e+04
2021-12-31                 114        7.295313e+04
2022-01-31                 156        9.164932e+04
2022-02-28                 139        8.979358e+04
2022-03-31                 241        1.684102e+05
2022-04-30                 321        2.079528e+05
2022-05-31                 345        2.193573e+05
2022-06-30                 381        2.530819e+05
2022-07-31                 568        3.627448e+05
2022-08-31                 793        5.164473e+05
2022-09-30                1054        6.606608e+05
2022-10-31                1802        1.188876e+06
2022-11-30                2988        1.931818e+06
2022-12-31                5010        3.270244e+06
2023-01-31               11552        7.503826e+06
2023-02-28               52050        3.358054e+07
2023-03-31              255631        1.648122e+08

In [76]:
prod_trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198815 entries, 0 to 198814
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   transaction_id      198815 non-null  int64
 1   transaction_date    198815 non-null  object
 2   customer_id         198815 non-null  int64
 3   product_ids         198815 non-null  int64
 4   num_products        198815 non-null  int64
 5   transaction_amount  198815 non-null  float64
 6   product_id          198815 non-null  int64
 7   product_name        198815 non-null  object
 8   retail_price        198815 non-null  float64
dtypes: float64(2), int64(5), object(2)
memory usage: 15.2+ MB

## Task Three
Create a powerpoint where are you explaining to the leaders of the business anything you have found that can help drive sales.  This could be popular products, a potential marketing stratgegy targeting a certain group (age, sex, location).  Use real examples from the data and estimate how much your strategy might drive sales.